@font-face{
    font-family: 'One piece';
    src: url('../fonts/one\ piece\ font.ttf')
}

*{
    padding: 0;
    margin:  0;
}

body{
    background: url('../images/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}

.container {
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    margin: auto;
    margin-bottom: 20px;
}

.buttons button {
    width: 20%;
    text-align: center;
    height: 50px;
    border: 1px solid black;
}

.buttons button p{
    margin: 0%;
}

.green{
    background-color: rgb(9, 138, 41);
    color: cornsilk;
}

.grey{
    background-color: rgb(78, 80, 79);
    color: white;
}

.red{
    background-color: rgb(134, 9, 5);
    color: cornsilk;
}

.blue{
    background-color: rgb(3, 112, 145);
    color: cornsilk;
}


h1 {
    font-size: 4rem;
    font-family: 'One piece';
    text-align: center;
    margin-bottom: 10px ;
    background: rgb(1, 60, 148);
    color: rgb(245, 240, 167);
}

#game{
    border: 1px black dashed;
    background-color: rgba(46, 45, 45, 0.445)
}

