.container {
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    margin: auto;
    margin-bottom: 20px;
}

.buttons button {
    width: 20%;
    text-align: center;
    height: 50px;
    border: 1px solid black;
}

.buttons button p{
    margin: 0%;
}

.green{
    background-color: rgb(9, 138, 41);
    color: cornsilk;
}

.grey{
    background-color: rgb(78, 80, 79);
    color: white;
}

.red{
    background-color: rgb(134, 9, 5);
    color: cornsilk;
}

.blue{
    background-color: rgb(3, 112, 145);
    color: cornsilk;
}


h1 {
    font-size: 2rem;
    text-align: center;
}

#game{
    border: 1px black dashed;
}

